<h2> First, you must input the numbers to calculate.</h2><br>
<h2> Then, you will select the math operation.</h2><br>
<h2> Then, hit Calculate.</h2>

<h3>Please input your data here:</h3>

<div>

	<form action = '/answers' method='post'>
		<input type = "text" name = "num1" placeholder = "First Number">
    <input type="radio" name="math" value="add">+</input>
    <input type="radio" name="math" value="subtract">-</input>
    <input type="radio" name="math" value="multiply">x</input>
    <input type="radio" name="math" value="divide">%</input>
    <input type = "text" name = "num2" placeholder = "Second Number">
    <br>
    <button>Calculate</button>
	</form>

</div>